/build/
/examples/draft-delegated-act.md
/examples/delegated-act-layout-preview.pdf
/template/github-letter-manifest.xml
/template/github-letter-styles.xml
/template/github-letter-template.odt
/template/github-logo.svg